html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background:#e6e7e8 !important;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.company-link{
  margin-top:5px;
  margin-bottom:5px;
  padding-right:7px !important;
  padding-left:7px !important;
}
