meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
link(rel="shortcut icon" href="/dist/img/favicon.ico" type="image/x-icon")
title Enviromodel
//css
link(rel="stylesheet" type="text/css" href="css/styles.css")
